@import url('reset.css');
@import url('fuentes.css');

#slides {
  position: relative;
}
#slides .slides-container {
  display: none;
}
#slides .scrollable {
  *zoom: 1;
  position: relative;
  top: 0;
  left: 0;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}
#slides .scrollable:after {
  content: "";
  display: table;
  clear: both;
}

.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  font-size: 30px;
  text-decoration: none;
  background: rgba(0,0,0,0.5);
  color: #fff;
  padding: 10px;
  text-align: center;
  line-height: 20px;
  font-weight: bold;
  border-radius: 50%;
}

.slides-navigation a:hover {
  background: #000;
}

.slides-navigation a.prev {
  left: 0;
}
.slides-navigation a.next {
  right: 0;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 1px solid #fff;
  border-radius: 15px;
  width: 14px;
  height: 14px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background: #fff;
  margin: 2px;
  overflow: hidden;
  text-indent: 100%;
  text-align: center;
}
.slides-pagination a.current {
  background: #1f1f1f;
}

.description {
  background: rgba(0,0,0,0.1);
  border-radius: 25px;
  font-family: 'PT Serif_bold', serif;
  font-size: 65px;
  text-align: center;
  color: #fff;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
